In [1]:
import sqlite3 as sq
import datetime

In [2]:
con = sq.connect("contactmanagementsystem213.db")

In [3]:
cur = con.cursor()

->create a contact table

In [4]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

->table for insert,update, delete log

In [5]:
cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

->trigger for insert log

In [6]:
cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

->trigger for delete log

In [7]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

->trigger for delete log

In [8]:
cur.execute("""create trigger if not exists updatedata
               after update on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,old.contact,datetime('now'),'update');
               end;
                   """)

In [9]:
# def insertdata(n):
#     data=[]
#     for i in range(n):
#         cid=int(input("Enter Contact ID:"))
#         fname=input("Enter Contact First Name:")
#         lname=input("Enter Contact Last Name:")
#         contact=int(input("Enter Contact Number:"))
#         email=input("Enter Contact Email:")
#         city=input("Enter Contact City:")
#         record=(cid,fname,lname,contact,email,city)
#         data.append(record)
#     cur.executemany("insert into contact values(?,?,?,?,?,?)",data)

In [10]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [11]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [12]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [13]:
cur.execute("""insert into contact values
                (1,'sunil','sakaliya',9034567898,'sunil@gmail.com','asta'),
                (2,'kailash','shahu',9316203288,'kailashshahu009@gmail.com','valod'),
                (3,'dev','rathod',8970564789,'dev@gmail.com','vyara'),
                (4,'parth','rabari',8976620101,'ayaz@gmail.com','bardoli'),
                (5,'sai','patel',9987120302,'sai@gmail.com','madhi');""")

In [14]:
updaterecord(2)

Enter new Contact Number:9054051480

In [15]:
deleterecord(3)

In [16]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:1
Fname:sunil
Lname:sakaliya
Contact:9034567898
Email:sunil@gmail.com
city:asta

ID:2
Fname:kailash
Lname:shahu
Contact:9054051480
Email:kailashshahu009@gmail.com
city:valod

ID:4
Fname:parth
Lname:rabari
Contact:8976620101
Email:ayaz@gmail.com
city:bardoli

ID:5
Fname:sai
Lname:patel
Contact:9987120302
Email:sai@gmail.com
city:madhi

In [17]:
cur.execute("select * from details_log")
row1=cur.fetchall()
print(row1)
for i in row1:
    print(f"\nFname:{i[0]}\nLname:{i[1]}\nNew-contact:{i[2]}\nOld-Contact:{i[3]}\nDatetime:{i[4]}\nOperation:{i[5]}")

[('sunil', 'sakaliya', 9034567898, 'NULL', '2023-08-10 08:00:03', 'insert'), ('kailash', 'shahu', 9316203288, 'NULL', '2023-08-10 08:00:03', 'insert'), ('dev', 'rathod', 8970564789, 'NULL', '2023-08-10 08:00:03', 'insert'), ('parth', 'rabari', 8976620101, 'NULL', '2023-08-10 08:00:03', 'insert'), ('sai', 'patel', 9987120302, 'NULL', '2023-08-10 08:00:03', 'insert'), ('kailash', 'shahu', 9054051480, 9316203288, '2023-08-10 08:00:29', 'update'), ('dev', 'rathod', 'NULL', 8970564789, '2023-08-10 08:00:31', 'delete')]

Fname:sunil
Lname:sakaliya
New-contact:9034567898
Old-Contact:NULL
Datetime:2023-08-10 08:00:03
Operation:insert

Fname:kailash
Lname:shahu
New-contact:9316203288
Old-Contact:NULL
Datetime:2023-08-10 08:00:03
Operation:insert

Fname:dev
Lname:rathod
New-contact:8970564789
Old-Contact:NULL
Datetime:2023-08-10 08:00:03
Operation:insert

Fname:parth
Lname:rabari
New-contact:8976620101
Old-Contact:NULL
Datetime:2023-08-10 08:00:03
Operation:insert

Fname:sai
Lname:patel
New-contact:9987120302
Old-Contact:NULL
Datetime:2023-08-10 08:00:03
Operation:insert

Fname:kailash
Lname:shahu
New-contact:9054051480
Old-Contact:9316203288
Datetime:2023-08-10 08:00:29
Operation:update

Fname:dev
Lname:rathod
New-contact:NULL
Old-Contact:8970564789
Datetime:2023-08-10 08:00:31
Operation:delete